<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105288075569-gbev1qj7eevr9fsmffm63bf5ur7t2tal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105288075569-gbev1qj7eevr9fsmffm63bf5ur7t2tal</string>
	<key>API_KEY</key>
	<string>AIzaSyAOtU1F4n3TybZn9DoUMyKsQJDOt-y9K9k</string>
	<key>GCM_SENDER_ID</key>
	<string>105288075569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-e95c7</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-e95c7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105288075569:ios:21f9daa8910db20b04c810</string>
</dict>
</plist>